<div ng-controller="contentIndexController">
    <div class="gongGao" style="display: none">
        <div class="movie">
            <div class="kjGg" style="width:100%">
                <h2>開獎視頻</h2>
                <div class="kjgg0">
                    <div class="movie_ball left">
                        <div class="movie_gif"></div>
                        <div class="movie_img"></div>
                        <div class="movie_bg"></div>
                        <div class="ball">
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -7px 107px;"></span>
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -7px 107px;"></span>
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -7px 107px;"></span>
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -7px 107px;"></span>
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -7px 107px;"></span>
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -7px 107px;"></span>
                            <span class="ball_bg red_ball_bg" style="transform: rotate(0deg);top: 188px;left: 298px;display: none;transform-origin: -6px 110px;"></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default left" ng-click="trylucky()">试试手气</button>
                    <div class="clear"></div>
                    <audio id="bgSound" src="../static/sound/bgsound.mp3" loop=""></audio>
                    <audio id="numSound" src="../static/sound/empt.mp3"></audio>
                    <div class="num_sound"></div>
                    <div class="count_sound"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="gongGao" style="display:flex">
    <div style="width: 235px;">
        <div style="width: 235px;height: 250px;">
            <div class="kjGg" style="width:100%">
                <h2 style="background-size: 365%;">公司公告</h2>
                <div class="kjgg0" style="height: 214px;line-height: 24px;">
                    <div style="font-size: 13px;text-indent: 2em;padding: 20px;">{{noticeDetail.companyNotice}}</div>
                </div>
            </div>
        </div>
        <div style="width: 235px;height: 250px;margin-top:10px;">
            <div class="kjGg" style="width:100%">
                <h2 style="background-size: 365%;">聯係方式</h2>
                <div class="kjgg0" style="height: 154px;padding: 20px;line-height: 24px;">
                    <div>咨詢熱線：{{noticeDetail.contactInfos[0]}}</div>
                    <div>咨詢：{{noticeDetail.contactInfos[1]}}</div>
                    <div>服務時間：{{noticeDetail.contactInfos[2]}}</div>
                    <div>在線電腦推算</div>
                </div>

            </div>
        </div>
    </div>
    <div style="width: 750px;">
        <div style="width: 750px;height: 250px;margin-left: 15px;background: url(static/img/kjzsbg.png);position:relative">
            <div class="ztz">澳門葡合彩：開獎時間為逢周一，三，五晚上 21點30分</div>
            <div class="kaijiang">
                <div style="display: flex;align-items: center;margin-top: 0px;min-height: 33px;">
                    <div>
                        <span ng-show="isDateNull(timeAfterOpen)">{{timeAfterOpen | date:'MM月dd日'}}</span> 第{{timeAfterPeriod}}期：
                    </div>
                    <div style="display: flex;align-items: center;width: 230px;">
                        <!--<div ng-repeat="item in lotteryRecord.numList">
                            <div class="{{numBallColor(item.number).colorClass}} ballbg">
                                <label>{{numParseString(item.number)}}</label>
                            </div>
                            <div style="text-align: center;">{{item.zodiac}}</div>
                        </div>-->
                        <div>
                            <div id="ball1" class="{{numBallColor(lotteryRecord.numList[0].num).colorClass}} ballbg">
                                <label>{{numParseString(lotteryRecord.numList[0].num)}}</label>
                            </div>
                            <div class="zod" style="text-align: center;">{{lotteryRecord.numList[0].animal}}</div>
                        </div>
                        <div>
                            <div id="ball2" class="{{numBallColor(lotteryRecord.numList[1].num).colorClass}} ballbg">
                                <label>{{numParseString(lotteryRecord.numList[1].num)}}</label>
                            </div>
                            <div class="zod" style="text-align: center;">{{lotteryRecord.numList[1].animal}}</div>
                        </div>
                        <div>
                            <div id="ball3" class="{{numBallColor(lotteryRecord.numList[2].num).colorClass}} ballbg">
                                <label>{{numParseString(lotteryRecord.numList[2].num)}}</label>
                            </div>
                            <div class="zod" style="text-align: center;">{{lotteryRecord.numList[2].animal}}</div>
                        </div>
                        <div>
                            <div id="ball4" class="{{numBallColor(lotteryRecord.numList[3].num).colorClass}} ballbg">
                                <label>{{numParseString(lotteryRecord.numList[3].num)}}</label>
                            </div>
                            <div class="zod" style="text-align: center;">{{lotteryRecord.numList[3].animal}}</div>
                        </div>
                        <div>
                            <div id="ball5" class="{{numBallColor(lotteryRecord.numList[4].num).colorClass}} ballbg">
                                <label>{{numParseString(lotteryRecord.numList[4].num)}}</label>
                            </div>
                            <div class="zod" style="text-align: center;">{{lotteryRecord.numList[4].animal}}</div>
                        </div>
                        <div>
                            <div id="ball6" class="{{numBallColor(lotteryRecord.numList[5].num).colorClass}} ballbg">
                                <label>{{numParseString(lotteryRecord.numList[5].num)}}</label>
                            </div>
                            <div class="zod" style="text-align: center;">{{lotteryRecord.numList[5].animal}}</div>
                        </div>
                        <!--                            <label ng-repeat="item in lotteryRecord.numList" style="margin: 0;margin-left:5px;font-size: 14px;background:{{item.color}}" class="g_ball ball_c">{{item.number}}{{item.zodiac}}</label>-->
                    </div>
                    <div style="margin-left: 10px;">
                        特碼：
                    </div>
                    <div>
                        <div id="ball7" class="{{numBallColor(lotteryRecord.tm.num).colorClass}} ballbg">
                            <label>{{numParseString(lotteryRecord.tm.num)}}</label>
                        </div>
                        <div class="zod" style="text-align: center;">{{lotteryRecord.tm.animal}}</div>
                        <!--                            <label ng-show="lotteryRecord.tm.number" style="margin: 0;font-size: 14px;background:{{lotteryRecord.tm.color}}" class="g_ball ball_c">{{lotteryRecord.tm.number}}{{lotteryRecord.tm.zodiac}}</label>-->
                    </div>
                </div>
                <div style="text-align: center;margin-top: 5px;">
                    {{timeOpenDay||0}}天{{timeOpenHour||0}}小时{{timeOpenM||0}}分钟{{timeOpenS||0}}秒
                </div>
                <div style="text-align: center;margin-top: 8px;"><!-- 第{{timeNextPeriod}}期 --> 下一期開獎時間:<span ng-show="isDateNull(timeNextOpen)">{{timeNextOpen | date:'MM月dd日 HH点mm分'}}</span></div>

            </div>
            <!--<div class="sixadv">
                <a href="http://xjp666.net/KaijVideo.asp" id="sixadv" target="_blank" ></a>
            </div>-->
            <div class="tongbu">澳門葡合彩官方網 開獎與亞洲電視臺現場同步播出，自動更新無須手動刷新</div>
        </div>
        <div style="width: 750px;height: auto;border: #471797 solid 1px;background: #1b0b37;border-radius: 2px;margin-top: 10px;margin-left: 15px;">
            <div class="index-label-title">
                預測圖庫
            </div>
            <div class="index-label-img">
                <div id="dcyj_demo" style="overflow:hidden; width:720px; font-size:12px; color:#00fffc;">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr>
                            <td id="dcyj_demo2" valign="top" align="center">
                                <table cellpadding="2" cellspacing="0" border="0" class="tdd">
                                    <tbody><tr align="center">
                                        <td width="200" ng-repeat="item in showPicList">
                                            <a href={{item.url}} target="_block"><img src={{item.url}} width="174" height="116"></a>
                                            <div style="padding: 10px 0;">{{item.name}}</div>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                            <!--<td id="dcyj_demo3" valign="top">-->
                                <!--<table cellpadding="2" cellspacing="0" border="0" class="tdd">-->
                                    <!--<tbody><tr align="center">-->

                                    <!--</tr>-->
                                    <!--</tbody></table>-->
                            <!--</td>-->
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>
        <div style="width: 750px;height: 135px;border: #471797 solid 1px;background: #1b0b37;border-radius: 2px;margin-top: 10px;margin-left: 15px;">
            <div class="index-label-title">
                網站說明
            </div>
            <div class="index-label-content">
                {{noticeDetail.webDesc}}
            </div>
        </div>
        <div style="width: 750px;height: 135px;border: #471797 solid 1px;background: #1b0b37;border-radius: 2px;margin-top: 10px;margin-left: 15px;">
            <div class="index-label-title">
                彩票簡介
            </div>
            <div class="index-label-content">
                {{noticeDetail.cpInfo}}
            </div>
        </div>
        <script>
            var jzlj_speed = 20;//速度數值越大速度越慢
            dcyj_demo3.innerHTML = dcyj_demo2.innerHTML;
            function jzlj_jzlj_marquee()
            {
                if($("#dcyj_demo")[0]){
                    if(dcyj_demo.scrollLeft <= 0)
                    {
                        dcyj_demo.scrollLeft += dcyj_demo3.offsetWidth;
                    }
                    else
                    {
                        dcyj_demo.scrollLeft --;
                    }
                }
            }
            if(jzlj_mar){
                clearInterval(jzlj_mar);
            }
            var jzlj_mar = setInterval(jzlj_jzlj_marquee,jzlj_speed);
            dcyj_demo.onmouseover = function() {clearInterval(jzlj_mar);}
            dcyj_demo.onmouseout = function() {jzlj_mar = setInterval(jzlj_jzlj_marquee,jzlj_speed);}
        </script>
        <div style="width: 750px;height: auto;border: #471797 solid 1px;background: #1b0b37;border-radius: 2px;margin-top: 10px;margin-left: 15px;">
            <div class="index-label-title">
                公司一角
            </div>
            <div class="index-label-img">
                <div id="dcyj_demos" style="overflow:hidden; width:720px; font-size:12px; color:#00fffc;">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td id="dcyj_demo2s" valign="top" align="center">
                                <table cellpadding="2" cellspacing="0" border="0" class="tdd">
                                    <tbody><tr align="center">
                                        <td width="200"><a href="#"><img src="static/img/dcyj1.jpg" width="174" height="116"></a>
                                            <div style="padding: 10px 0;">澳門風景</div>
                                        </td>
                                        <td width="200"><a href="#"><img src="static/img/dcyj2.jpg" width="174" height="116"></a>
                                            <div style="padding: 10px 0;">澳門風景</div>
                                        </td>
                                        <td width="200"><a href="#"><img src="static/img/dcyj3.jpg" width="174" height="116"></a>
                                            <div style="padding: 10px 0;">開獎現場</div>
                                        </td>
                                        <td width="200"><a href="#"><img src="static/img/dcyj4.jpg" width="174" height="116"></a>
                                            <div style="padding: 10px 0;">辦公環境</div>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                            <td id="dcyj_demo3s" valign="top">
                                <table cellpadding="2" cellspacing="0" border="0" class="tdd">
                                    <tbody><tr align="center">

                                    </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>
        <script>
            var jzlj_speeds = 20;//速度數值越大速度越慢
            dcyj_demo3s.innerHTML = dcyj_demo2s.innerHTML;
            function jzlj_jzlj_marquees()
            {
                if($("#dcyj_demos")[0]){
                    if(dcyj_demos.scrollLeft <= 0)
                    {
                        dcyj_demos.scrollLeft += dcyj_demo3s.offsetWidth;
                    }
                    else
                    {
                        dcyj_demos.scrollLeft --;
                    }
                }
            }
            if(jzlj_mars){
                clearInterval(jzlj_mars);
            }
            var jzlj_mars = setInterval(jzlj_jzlj_marquee,jzlj_speed);
            dcyj_demos.onmouseover = function() {clearInterval(jzlj_mars);}
            dcyj_demos.onmouseout = function() {jzlj_mars = setInterval(jzlj_jzlj_marquees,jzlj_speeds);}
        </script>
    </div>
</div>
</div>