blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,pre,td,textarea,th,ul{padding:0;margin:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,i,strong,th,var{font-weight:normal;font-style:normal}li,ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}q:after,q:before{content:''}abbr,acronym{border:0}a{text-decoration:none;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;outline:0}a:link{color:#333}a:focus{color:#f44a07}a:hover{color:#f44a07}a:visited{color:#333}.BigBox{background:#f1f1f1;width:100%;height:auto;overflow:inherit!important;margin:0 auto}.outing{width:1200px;margin:0 auto;background:#f1f1f1;margin-top:30px;margin-bottom:30px}.outing .box{background:#fff}#headdivbox{width:100%;height:auto;background:#fff;border-top:2px solid #f8223c}#headdivbox .brann_img{background:#f1f1f1;padding-top:20px;width:100%}#headdivbox .brann_img ul{background:#f1f1f1;margin:0 auto;width:1200px;overflow:hidden}#headdivbox .brann_img ul li{float:left}#headdivbox .brann_img ul li a img{vertical-align:bottom;max-height:100px}.header{width:1200px;min-height:80px;min-width:1200px;margin:0 auto}.header img{float:left;margin-top:15px}.header ul{float:left;margin-left:50px;height:auto;font-size:16px; margin-top:10px;}.header ul li{float:left!important;width:80px!important;height:50px;line-height:50px;text-align:center}.header ul li a:hover{color:#f8223c}.header ul li a{width:100%}.header ul .phone{position:relative}.header ul .phone img{position:absolute;top:20px;margin-left:8px}.header ul #HKcai,.header ul .Fastkai{position:relative}.header ul #HKcai:hover #hkheader,.header ul .Fastkai:hover #hkheader{display:block}.header ul #HKcai ul,.header ul .Fastkai ul{display:none;position:absolute;top:40px;left:0;background:#fff;margin-left:0;z-index:99;box-shadow:0 4px 10px 0 rgba(11,12,13,0.12)}.header ul #HKcai ul li,.header ul .Fastkai ul li{height:57px;box-sizing:border-box}.header ul #HKcai ul li a,.header ul .Fastkai ul li a{height:55px;line-height:55px;background:#fff!important;color:#333!important}.header ul #HKcai ul li:hover,.header ul .Fastkai ul li:hover{border-bottom:3px solid #f8223c}.header ul #HKcai ul li:hover a,.header ul .Fastkai ul li:hover a{color:#f8223c!important}.header ul .Fastkai:hover .faheader{display:block}.box{width:1200px;margin:0 auto;min-height:600px;overflow:hidden;margin-top:20px;background:#fff}#fooderbox{width:100%!important;height:320px}.footer{    width: 100%;
min-width: 1400px;
height: 60px;
    margin: 0;}.footer .foo{width:1200px;height:inherit;margin:0 auto}.footer .footer1{width:100%;height:240px;background:#3b3c42}.footer .footer1 ul{float:left;width:840px;margin-left:140px;color:#e5e5e5;font-size:14px;margin-top:61px}.footer .footer1 ul li{float:left;width:130px;margin-right:80px;text-align:center}.footer .footer1 ul .circle{display:block;width:80px;height:80px;line-height:100px;border:1px solid #89898d;border-radius:40px;margin-bottom:20px;margin-left:25px}.footer .footer1 .erwm{float:left;margin-top:30px;text-align:center}.footer .footer1 .erwm .lodown_pic{margin-top:50px;margin-bottom:10px}.footer .footer1 .erwm .lodown{font-size:14px;color:#e5e5e5}.footer .footer2{width:100%;height:60px;color:#e5e5e5;font-size:14px;background:#323338;text-align:center}.footer .footer2 p{line-height:20px;font-size:12px}.listheadm #sqkjnumber .red{background:url("../img/icon/xiaoliuico.png") no-repeat -379px -122px!important;color:#fff}.listheadm #sqkjnumber .blue{background:url("../img/icon/xiaoliuico.png") no-repeat -423px -122px!important;color:#fff}.listheadm #sqkjnumber .add{background:url("../img/icon/xiaoliuico.png") no-repeat -509px -122px!important}.listheadm #sqkjnumber .green{background:url("../img/icon/xiaoliuico.png") no-repeat -467px -122px!important;color:#fff}.listheadm #sqkjnumber span{line-height:30px;text-align:center}#fixedgoBack{position:fixed;width:100%;height:0;left:0;top:50%;z-index:1999;margin-top:-160px}#kfu{margin:0 auto;position:relative;max-width:1338px;width:100%;height:0}#kfu ul{position:absolute;width:60px;top:160px;right:3px;z-index:99999;height:100px}#kfu ul li{margin-top:5px;width:inherit;height:60px;position:relative}#kfu ul li a,#kfu ul li span{background:#FFF url("../img/icon/bjpknum.png") no-repeat -275px -83px;-webkit-border-radius:3px;display:block;width:100%;height:100%;text-align:center}#kfu ul li a:hover{background-color:#ed2842;background-position:-223px -83px}#kfu ul li .fankuicon{box-sizing:border-box;vertical-align:middle;padding-top:8px;color:#fff;background-position:11px -83px}#kfu ul li .fankuicon:hover{background:#ed2842}#kfu ul li #wechatKF{position:relative;overflow:initial;background:url(../img/icon/wechatKF.png) -183px -3px no-repeat}#kfu ul li #wechatKF:hover{background:url(../img/icon/wechatKF.png) -262px -3px no-repeat}#kfu ul li:last-child{margin-bottom:0}#kfu ul li:last-child a{background-position:-46px -91px}#kfu ul li:last-child a:hover{background-position:-100px -91px}#KFview{position:absolute;top:-65px;left:-221px;box-shadow:0 0 10px 3px rgba(0,0,0,0.12);width:212px;height:212px;display:none;background:url(../img/icon/wechat.png) 0 0 no-repeat;background-size:100%}#wechatKF:hover #KFview{display:block!important}#modal{height:100%;width:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);z-index:9999999}#modal #win{color:#666;border-radius:5px;width:850px;height:500px;background:#fff;margin:120px auto 0}#modal #win #bar{border-top-left-radius:3px;border-top-right-radius:3px;height:50px;background:#ed2842;color:#fff;line-height:50px}#modal #win #bar span{margin:0 10px}#modal #win #bar .bar_remove{background:url(../img/icon/xxx.png) 9px 21px no-repeat;width:30px;height:40px;text-align:center;margin:-4px 10px;cursor:pointer}#modal #win .hh{width:700px;height:100px;margin:0 auto;line-height:100px;text-align:center;color:#ed2842;font-size:22px}#modal #win .content{width:730px;margin:0 auto;height:45px;margin-bottom:30px}#modal #win .content input,#modal #win .content label,#modal #win .content select{height:45px;border:1px solid #d3d3d3;vertical-align:middle;font-size:16px;line-height:45px;outline:0}#modal #win .content label,#modal #win .content select{display:inline-block;width:60px;text-align:center}#modal #win .content input{margin-left:-1px;width:270px;padding-left:10px}#modal #win .content #first_input{margin-right:20px}#modal #win .content select{height:47px;color:#666;font-size:14px;border:1px solid lightgray;border-right:0;box-sizing:border-box;padding:0 .5%}#modal #win .div_down{width:730px;height:160px;margin:0 auto;margin-bottom:30px}#modal #win .div_down textarea{height:87%;width:688px;color:#999;font-size:14px;padding:10px;outline:0;border:1px solid lightgray}#modal #win .button_box{width:730px;margin:0 auto;text-align:center}#modal #win .button_box #btn_upload{height:45px;width:320px;border-radius:0;font-size:16px;color:#fff;border:0;background-color:#ed2842}.fastSix{position:relative}.fastSix:after{position:absolute;display:inline-block;content:"";width:33px;height:21px;background:url(../img/icon/fast.png) -88px 1px no-repeat;top:8px;right:-3px;animation:fivezhe 1.3s infinite}@keyframes fivezhe{0%{top:5px}50%{top:8px}100%{top:5px}}#fixbox_{position:fixed;height:100%;width:100%;z-index:9;display:none;top:0}#adtbox{position:absolute;z-index:999;margin:106px auto;left:0;right:0;top:18%;width:840px;height:280px;background:url(../img/adt.png) -6px -134px no-repeat}#adtbox .adtina{width:100%;height:100%;position:absolute}#adtbox .closespan{display:inline-block;width:38px;height:38px;border-radius:50%;float:right;margin-top:19px;margin-right:26px;cursor:pointer;position:relative;z-index:10}#adtbox .canvas{height:100%;width:100%}#adtbox .canvas .plane{display:inline;width:215px;height:115px;background:url(../img/adt.png) 0 -1px no-repeat;position:absolute;top:-47px;right:163px;transform:scale(1);transition:transform 1.5s ease-out}#adtbox .canvas .plane.smplane{transform:scale(0.5)}#adtbox .canvas .rightball,#adtbox .canvas .leftball{height:85%}#adtbox .canvas .rightball ul,#adtbox .canvas .leftball ul{position:relative}#adtbox .canvas .rightball ul li,#adtbox .canvas .leftball ul li{position:absolute;top:0;left:0;transition:all 2.5s linear}#adtbox .canvas .rightball ul .xxl,#adtbox .canvas .leftball ul .xxl{width:60px;height:60px;border-radius:50%;background:url(../img/adt.png) -227px -10px no-repeat}#adtbox .canvas .rightball ul .xl,#adtbox .canvas .leftball ul .xl{width:50px;height:50px;border-radius:50%;background:url(../img/adt.png) -300px -10px no-repeat}#adtbox .canvas .rightball ul .l,#adtbox .canvas .leftball ul .l{width:35px;height:35px;border-radius:50%;background:url(../img/adt.png) -360px -10px no-repeat}#adtbox .canvas .rightball ul .m,#adtbox .canvas .leftball ul .m{width:30px;height:30px;border-radius:50%;background:url(../img/adt.png) -406px -10px no-repeat}#adtbox .canvas .rightball ul .m_purple,#adtbox .canvas .leftball ul .m_purple{width:30px;height:30px;border-radius:50%;background:url(../img/adt.png) -466px -10px no-repeat}#adtbox .canvas .rightball ul .sm,#adtbox .canvas .leftball ul .sm{width:20px;height:20px;border-radius:50%;background:url(../img/adt.png) -504px -10px no-repeat}#adtbox .canvas .rightball ul .ssm,#adtbox .canvas .leftball ul .ssm{width:15px;height:15px;border-radius:50%;background:url(../img/adt.png) -531px -10px no-repeat}#adtbox .canvas .leftball{width:50%;float:left}#adtbox .canvas .leftball ul .xxl{top:24px;left:25px}#adtbox .canvas .leftball ul .xl{top:-8px;left:108px}#adtbox .canvas .leftball ul .l{top:101px;left:44px}#adtbox .canvas .leftball ul .m{top:-11px;left:-44px}#adtbox .canvas .leftball ul .m_purple{top:206px;left:199px}#adtbox .canvas .leftball ul .sm{top:-30px;left:25px}#adtbox .canvas .leftball ul .ssm{top:59px;left:82px}#adtbox .canvas .rightball{float:right;width:40%;margin-top:-57px}#adtbox .canvas .rightball ul .xxl{top:24px;left:300px}#adtbox .canvas .rightball ul .xl{top:-8px;left:350px}#adtbox .canvas .rightball ul .l{top:101px;left:200px}#adtbox .canvas .rightball ul .m{top:-11px;left:250px}#adtbox .canvas .rightball ul .m_purple{top:206px;left:199px}#adtbox .canvas .rightball ul .sm{top:-30px;left:400px}#adtbox .canvas .rightball ul .ssm{top:59px;left:385px}

.notice-row{ width:1200px; margin:0 auto; padding-bottom:5px;font:14px/1 Tahoma,"Î¢ÈíÑÅºÚ"}
.notice-row marquee{ width:1138px;}
.title span{ font-weight:900}

*{
	 font-family:"宋体" !important;
}
.hk{
  position: relative;
}
.hk .hkheader{
  display:none;
}
.hk:hover .hkheader{
  display:block;
  position: absolute;
  background: #e60013;
  left: 0;
}




@charset "utf-8";
/* CSS Document 中福彩 2017 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,figure,figure,legend,textarea,p,blockquote,th,td,input,label {
margin: 0; padding: 0;font-family: "Microsoft YaHei";word-wrap: break-word;}
html {-ms-touch-action: none;}
li {list-style: none;}
img {border: none;vertical-align: top;}
a,a:link,a:active,a:visited,a:hover{text-decoration: none;color: inherit;}
input {outline: medium;}
input[type=button],input[type=submit],input[type=file],button {cursor: pointer;-webkit-appearance: none;outline: none;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {display: block;}

.cleardiv {clear: both;height: 0;display: block;overflow: hidden;}
.clearfix:after {clear: both;height: 0;overflow: hidden;display: block;visibility: hidden;content: ".";}
.pa {position:absolute;}.pr{position:relative;}.pf{position: fixed;}
.fl {float: left;_display: inline;}.fr {float: right;_display: inline;}
.ovh {overflow: hidden;}.vh{visibility: hidden;}

/* header */
.n_c_01{width:100%;background: #f0f0f0;margin:0 auto;}
.n_c_011{width:1000px;margin: 0 auto;height:40px;position: relative;}
.n_c_011_l{float: left;padding-left: 25px;font: bold 16px/40px "宋体";color: #999;}
.n_c_011_l a:hover{text-decoration: none;color: inherit;}
.n_c_011_r{float: right;font: 12px/40px "宋体";color: #333;cursor: pointer;}
.n_c_011_r li{float: left;padding:0 10px;}
.n_c_011_r li i{display: inline-block;width:10px;height:6px;background: url(../images/n_down.png) no-repeat 100% 50%;margin-left: 5px;}
.n_c_r_box_03{width:320px;height:120px;background: #3d3d3d;position: absolute;top: 40px;right: 0;display: none;z-index: 100;}
.n_c_r_box_03 img{padding: 15px 0px 0 26px;}
.n_c_r_box_03 span{display: inline-block;font: 14px/30px "宋体";color:#fff;padding-left: 19px;}
.n_c_r_box_03 .n_c_r_span{padding-left: 26px;}

.n_c_011_r li.pop_wx:hover{background: #3d3d3d url(../images/n_sanjiao.png) no-repeat 0 0;color:#fff;}
.n_c_011_r li.pop_wx:hover i{background: url(../images/n_down_fff.png) no-repeat 100% 50%;}
.n_c_011_r li.pop_wx:hover .n_c_r_box_03{display: block;}

.n_c_r_box_02{width:100%;height:370px;background: #414141;position: absolute;top: 40px;right: 0;display: none;z-index: 100;opacity: 0.98;color:#fff;}

.n_c_011_r li.pop_wzdh:hover{background: #414141 url(../images/n_sanjiao.png) no-repeat 0 0;color:#fff;}
.n_c_011_r li.pop_wzdh:hover i{background: url(../images/n_down_fff.png) no-repeat 100% 50%;}
.n_c_011_r li.pop_wzdh:hover .n_c_r_box_02{display: block;}

.n_c_r_box_02 dl{float: left;margin-top: 15px;}
.n_c_r_box_02 dl dd{height: 293px;overflow: hidden;border-left:1px dotted #999;padding-left:16px;}
.n_c_r_box_02 .n_fore1 dd{border-left:none;}
.n_c_r_box_02 dl dt{color:#fff;font:bold 15px/24px "宋体";padding-left: 20px;}
.n_c_r_box_02 .n_item{color:#ccc;font:bold 14px/20px "宋体";padding-left: 4px;}
.n_c_r_box_02 .n_item span{color:#999;font:12px/20px "宋体";}
.n_c_r_box_02 .n_item:hover a{padding: 4px;background: #e60013;border-radius:4px;color: #fff!important;text-decoration: none;margin-left: -4px;}
.n_c_r_box_02 .n_item:hover span{color: #fff;}


.n_fore1{width:230px;}
.n_fore2{width:272px;}
.n_fore3{width:192px;}
.n_fore4{width:102px;}
.n_fore5{width:202px;}
.n_item{width:80px;overflow: hidden;float: left;white-space: nowrap;}
.n_fore1 .n_item{width:100px;}
.n_fore1 .n_border{width: 106px;}
.n_item90{width:90px;}
.n_item170{width:170px;}
.n_fore1 .n_item150{width:150px;}
.n_space{margin-top: 20px;}
.n_c_r_box_02>a{display: inline-block;position: absolute;bottom: 2%;right: 1%;z-index: 100;}

.n_c_r_box_04{width:290px;height:120px;background: #3d3d3d;position: absolute;top: 40px;right: 0;display: none;z-index: 100;}
.n_c_r_box_04 img{padding: 15px 0px 0 50px;}
.n_c_r_box_04 span{display: inline-block;font: 14px/30px "宋体";color:#fff;padding-left:27px;}
.n_c_r_box_04 .n_c_r_span{padding-left: 26px;}

.n_c_011_r li.pop_client:hover{background: #3d3d3d url(../images/n_sanjiao.png) no-repeat 0 0;color:#fff;}
.n_c_011_r li.pop_client:hover i{background: url(../images/n_down_fff.png) no-repeat 100% 50%;}
.n_c_011_r li.pop_client:hover .n_c_r_box_04{display: block;}

.n_c_02{width:100%;background: #fff;margin:0 auto;font-size: 14px;line-height: 14px;}
.n_c_021{width:1000px;margin: 0 auto;padding:20px 0;position: relative;}
.n_c_021 a{width:98px;font:14px/14px "宋体";padding:5px 21px 5px 20px;color: #666;display: inline-block;border-right: 1px solid #ccc;text-align: left;box-sizing: border-box;}
.n_c_021 .n_c_21w{width:112px;}
/* footer */
.f_c_01 .container{width:1000px;}
.f_c_02 .container{width:1000px;padding: 0;}

.f_c_01{width:100%;background: #f5f5f5;border-bottom: 1px solid #ccc;margin-top: 50px;}
.f_c_01 .footer_01{height:70px;margin:10px 0;background: #f5f5f5;}
.f_c_01 .footer_01 img{margin:10px;float: left;}
.f_c_01 .footer_01 p{font:12px/24px "宋体";color:#999;margin: 0;}
.f_c_01 .footer_01 p a{color:#999;text-decoration: none;}
.f_c_01 .footer_01 p a:active{color:#999;text-decoration: none;}
.f_c_01 .footer_01 p a:link {color:#999;text-decoration: none;} /* 未访问的链接 */
.f_c_01 .footer_01 p a:visited {color:#999;text-decoration: none;}
.f_c_01 .footer_01 p a:hover{color:#337ab7;}
.f_c_02{width:100%;background: #fafafa;padding-top:30px;}
.f_c_02 ul li{list-style-type: none;}
.f_c_02 ul li{width:13.2%;border-right:1px dotted #ccc;height:150px;float: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.f_c_02 ul li.f_c_02_05{width:16.5%;}
.f_c_02 ul li.f_c_02_06{width:14.7%;}
.f_c_02 ul li.f_c_02_07{width:16%;border-right:none;}
.f_c_02 ul li img{width:50px;height:50px;margin: 0 0 20px 10px;}
.f_c_02 ul li span{font: bold 16px/50px "微软雅黑";color: #464646;padding-left:5px;display:inline-block;vertical-align: middle;margin-bottom:20px;}
.f_c_02 ul li p{font: bold 14px/26px "微软雅黑";color: #888;margin: 0;margin-left:30px;}

.f_c_03{background: #fafafa;padding:30px 0;}
.f_c_03 .text-center{font: 14px/24px "微软雅黑";color: #666;}

/* 导航 */
.n_c_03{width:100%;background: #fff;}
.n_c_031{width:1000px;margin: 0 auto;padding:10px 0;  background: #fff url(../images/n_logo.png) no-repeat left;padding-left: 52px;}


/* .n_c_031 img{padding: 0 10px 0 20px;} */
.n_c_031 span{font: bold 32px/40px "微软雅黑";color: #3d3d3d;}
.n_c_03 span a{ font: bold 32px/40px "微软雅黑";color: #3d3d3d;}
.n_c_03 span a{ text-decoration: none;}

.n_c_04{width:100%;background: #e60013;}
.n_c_041{width:1000px;height:40px;margin: 0 auto;color: #fff;}
.n_c_041 a{display: inline-block;color: #fff;padding: 0 23px;font: bold 16px/40px "宋体";text-decoration: none;}
.n_c_041 a:hover{background: #A1000D;text-decoration: none;}
.n_c_041 a.on{background: #A1000D;text-decoration: none;}
.n_c_041 span{display: inline-block;cursor: pointer;}
.n_c_041 span.on{background: #A1000D;text-decoration: none;}
.n_c_05{width:100%;background: #f5f5f5;}
.n_c_051{width:1000px;height:50px;margin: 0 auto;font:14px/50px "微软雅黑";color:#666;padding-left: 0;}

@media screen and (min-width: 1000px) {
	.f_c_01 .container{width:1000px;}
	.f_c_02 .container{width:1000px;padding: 0;}
	.container{
		width:1000px!important;
	}
}
@media screen and (max-width: 767px){
	.f_c_01 .container{width:1000px;}
	.f_c_02 .container{width:1000px;padding: 0;}
	.f_c_03{padding: 40px 0 20px;}
	.f_c_03 .text-center{font: 12px/24px "微软雅黑";-webkit-transform: scale(0.8);-moz-transform: scale(0.8);-o-transform: scale(0.8);transform: scale(0.8);}
    .f_c_031{width: 120%;margin-left: -10%;}


	.n_c_031{width:100%;color: #fff;background: #e60013;padding: 5px 0;}
	.n_c_031 span{font: bold 24px/32px "微软雅黑";padding: 2px 0 2px;color: #fff;display:inline-block;}
    .n_c_031 span a{color: #fff;font: bold 24px/32px "微软雅黑";display: block;}
	.n_c_031 img{height: 25px;vertical-align: text-bottom;padding: 0px 25px;}
    .n_c_04{ overflow: scroll;background: #F0F0F2;}
    .n_c_041{ margin:0!important;}
    .n_c_041 a{padding: 0 15px;color: #555;font: 16px/40px "宋体";}
    .n_c_041 a.on,.n_c_041 span.on{background: #F0F0F2;}
    .n_c_041 a:hover{background: #999;text-decoration: none;color:#fff;}
    .n_c_051{width: 100%;padding-left:15px;}

	.n_logo_more{background:url(../images/n_logo_more.png) no-repeat center;background-size: 70%;float: right;width: 32px;height: 38px;margin: 0 20px;}
	.n_logo_back{background:url(../images/n_logo_back.png) no-repeat center;background-size: 50%;float: left;width: 24px;height: 38px;margin: 0 20px;}
	.n_logo{background:url(../images/n_logo_f.png) no-repeat center;background-size: 80%;float: left;width: 40px;height: 40px;margin: 0 10px;}
	
	/* 轮播图 */
	.carousel-caption{
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    padding-right: 70px;
	}	
}      
@media screen and (max-width: 320px){
	.f_c_03{padding: 40px 0 20px;}
	.f_c_03 .text-center{font: 12px/24px "微软雅黑";-webkit-transform: scale(0.7);-moz-transform: scale(0.7);-o-transform: scale(0.7);transform: scale(0.7);}
    .f_c_031{width: 130%;margin-left: -15%;}
}

/* page */
.noBorder{ font-size: 12px;}
.noBorder a.z_num{
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 2px;
	width: 30px;
	height: 28px;
	line-height: 28px;
	padding: 0 0;
	display: inline-table;
}

.noBorder a.current{
	cursor: pointer;
	color: #e60013;
	border: 1px solid #e60013;
	border-radius: 2px;
	width: 30px;
	height: 28px;
	line-height: 28px;
	padding: 0 0;
	display: inline-table;
}
.noBorder .fc_hui2{
	background-color: #f6f6f6;
	cursor: default;
	border: none;
	color: #ddd;
	width: 72px;
	height: 28px;
	line-height: 28px;
	padding: 0 0;
	display: inline-table;
}
.noBorder .fc_ch1{
	border: 1px solid #ddd;
	cursor: default;
	width: 72px;
	height: 28px;
	line-height: 28px;
	padding: 0 0;
	display: inline-table;
}



.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}

.logoAlmm{ height: 55px; padding-left: 70px; background: url("../images/n_logo.png") no-repeat 15px center;}
.logoAlmm h1{font: 32px/55px "Microsoft YaHei", "微软雅黑", Arial; color: #3d3d3d;}
@media screen and (max-width:510px){
  .logoAlmm{ display: none;}
}
/* 栏目导航 */
.lmDh {
  height: 40px;
  margin-bottom: 30px;
  background: #e60013;
}
.lmDh .lmDhUl li {
  float: left;
  _display: inline;
  font: bold 16px/40px "Microsoft YaHei", "微软雅黑", Arial;
  color: #fff;
}
.lmDh .lmDhUl li a {
  display: block;
  padding: 0 24px;
}
.lmDh .lmDhUl li a:hover {
  text-decoration: none;
  background: #a1000d;
}
.lmDh .lmDhUl li.dq {
  background: #a1000d;
}
@media screen and (max-width:510px){
  	.lmDh{ height: 30px; margin-bottom: 10px; background: #f5f5f5;}
	.lmDh .lmDhUl{ width: auto; overflow: auto; white-space: nowrap;}
	.lmDh .lmDhUl li{.fn; display: inline-block; font: bold 14px/30px "Microsoft YaHei", "微软雅黑", Arial; white-space: nowrap; color: #333;}
	.lmDh .lmDhUl li a{ display:inline; padding: 0 24px; white-space: nowrap;}
	.lmDh .lmDhUl li a:hover{ text-decoration:none; background: inherit;}
	.lmDh .lmDhUl li.dq{ color: #fff; background: #a1000d;}
	.noBorder{
		margin-bottom:30px;
	}
}

/* 轮播图 */
.du-control{position: absolute;top: 0;bottom: 0;left: 0;width: 20px;height: 100px;text-align: center;background: url(../images/zfc_lbt.png) no-repeat;margin-top: 100px;display:none;}
.du-control.left{background-position: 0px -240px;}
.du-control.right{right: 0;left: auto;background-position: -70px -350px;}
.du-control.left:hover{background-position: 0 -350px;}    
.du-control.right:hover{background-position: -70px -240px;}
#myCarousel:hover .du-control{display:block;}

/* 专题页底 */
.floor_zt .fBox_01, .floor_zt .fBox_01 .contents {
    background: url(/zcms/preview/cwl/images/zt_gyzt_wllxy_bg09.jpg) top center no-repeat;
    height: 400px;
}



@charset "utf-8";
/* CSS Document */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
figure,
legend,
textarea,
p,
blockquote,
th,
td,
input,
label {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  word-wrap: break-word;
}
html {
  /*font-size: 6.25%;*/
  /*100 �� 16 �� 100% = 6.25%*/
  -ms-touch-action: none;
  /* ��ֹwinphoneĬ�ϴ����¼� */
}
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: inherit;
  color: #515151;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}
input {
  outline: medium;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
em,
strong {
  font-weight: normal;
  font-style: normal;
}
.cleardiv {
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  content: ".";
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.fn {
  float: none;
}
.ovh {
  overflow: hidden;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.ml0 {
  margin-left: 0 !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr0 {
  margin-right: 0 !important;
}
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
body {
  background: #fff;
}
.containerHome {
  width: 1150px;
  background: #fff;
  margin: 0 auto;
}
.left{
  float:left;
}
.right{
  float:right;
}
.movie{
  width: 1000px;
  background: #fff;
  min-height: 410px;
  margin: 0 auto;
}
.ball{
  width: 240px;
  height: 241px;
  margin-left: 184px;
}
.movie_ball{
  background: #c045ff;
  position: relative;
  height: 360px;
  width: 640px;
}
.movie_bg{
  background: url(../static/img/bj222.png) no-repeat;
  height: 360px;
  width: 640px;
  position: absolute;
}
.movie_gif{
  background: url(../static/img/each.gif) no-repeat;
  height: 225px;
  width: 195px;
  left: 200px;
  position: absolute;
}
.movie_img{
  background: url(../static/img/0001.png) no-repeat;
  height: 225px;
  width: 195px;
  left: 200px;
  position: absolute;
}
.wL {
  width: 660px;
}
.wR {
  width: 320px;
}
.ydMore {
  display: none;
  padding: 5px 0;
  margin: 10px 15px 0;
  font: 14px/20px '宋体', '宋体 Bold';
  text-align: center;
  color: #888;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
.ydMore a {
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (max-width: 510px) {
  .containerHome {
    width: 100%;
  }
  .wL {
    width: 100%;
  }
  .wR {
    width: 100%;
  }
  .ydMore {
    display: block;
  }
  	.banner01{
    display:none;
  }
}
.DliBg li {
  padding-left: 1em;
  background: url("../images/libg.jpg") no-repeat 0.2em 0.8em;
}
.n_c_021 {
  display: none;
}
.pop_backhome {
  display: none;
}
/* logo 和 搜索 */
.logoAss {
  height: 120px;
}
.logoAss .cwllogo {
  float: left;
  _display: inline;
  margin: 25px 0 0 0px;
}
.logoAss .sousuo {
  float: right;
  _display: inline;
  width: 250px;
  height: 40px;
  margin-top: 40px;
}
.logoAss .sousuo input {
  float: left;
  _display: inline;
  width: 148px;
  height: 38px;
  padding: 0 10px;
  font: 16px/38px "Microsoft YaHei", "微软雅黑", Arial;
  border: 1px solid #ccc;
  box-sizing: content-box;
}
.logoAss .sousuo button {
  float: left;
  _display: inline;
  width: 80px;
  height: 40px;
  font: 20px/40px "Microsoft YaHei", "微软雅黑", Arial;
  color: #fff;
  background: #ccc;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logoAss .h5dhkg {
  float: right;
  _display: inline;
  position: relative;
  width: 44px;
  height: 25px;
  padding-top: 9px;
  margin-top: 4px;
  display: none;
}
.logoAss .h5dhkg .hGa0 {
  width: 22px;
  height: 2px;
  margin: 0 auto 4px;
  display: block;
  background: #563d7c;
}
@media screen and (max-width: 510px) {
  .logoAss {
    height: 42px;
    border-bottom: 1px solid #ececec;
  }
  .logoAss .cwllogo {
    float: left;
    _display: inline;
    height: 32px;
    margin: 5px 0 5px 15px;
  }
  .logoAss .sousuo {
    display: none;
  }
  .logoAss .h5dhkg {
    display: block;
  }
}
/* 首页导航 */
.homeNav {
  background: #e60013;
  height: 40px;
}
.homeNav .containerHome {
  position: relative;
}
.homeNav .sydh01 {
  float: left;
  _display: inline;
  width: 540px;
}
.homeNav .sydh01 a {
  white-space: nowrap;
  color: #fff;
}
.homeNav .sydh02 {
  float: left;
  _display: inline;
  width: 394px;
  height: 40px;
  padding-left: 23px;
  background: url("../images/home/sydh02.jpg") no-repeat center;
}
.homeNav .sydh02 a {
  white-space: nowrap;
  color: #fff;
}
.homeNav li {
  float: left;
  _display: inline;
  padding: 0 7px;
  text-align: center;
  font: bold 16px/40px "Microsoft YaHei", "微软雅黑", Arial;
  color: #fff;
}
.homeNav li.dq {
  background: #a1000d;
}
.homeNav li a:hover {
  /*text-decoration: none; color: #fdfe02;*/
}
.homeNav .sye {
  min-width: 58px;
  margin-right: 18px;
}
.homeNav .sydhgd {
  float: right;
  _display: inline;
  width: 22px;
  height: 22px;
  margin: 9px 10px 0 0;
  background: url("../images/home/sydhgd.jpg") no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.homeNav .sydhgdDh {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.homeNav .dhTc {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background: #f0f0f0;
}
.homeNav .dhTc .sydh03 {
  float: left;
  _display: inline;
  width: 430px;
  margin-left: 96px;
}
.homeNav .dhTc .sydh03 li {
  color: #666;
}
.homeNav .dhTc .sydh03 a {
  white-space: nowrap;
  color: #666;
}
.homeNav .dhTc .sydh04 {
  float: right;
  _display: inline;
  width: 394px;
  margin-right: 40px;
  padding-left: 26px;
  background: url("../images/home/sydh04.jpg") no-repeat center;
}
.homeNav .dhTc .sydh04 li {
  color: #666;
}
.homeNav .dhTc .sydh04 a {
  white-space: nowrap;
  color: #666;
}
.homeNav .dhTc h3 {
  height: 33px;
  padding-left: 50px;
  font: 15px/33px '宋体', '宋体 Bold';
  color: #666;
  background: url("../images/home/rdztbg.jpg") repeat-x left 19px;
}
.homeNav .dhTc h3 strong {
  padding: 0 25px;
  background: #f0f0f0;
}
.homeNav .dhTc .zfNr {
  overflow: hidden;
  height: 28px;
  padding-left: 5px;
  margin-bottom: 12px;
  font: 15px/28px '宋体', '宋体 Bold';
  color: #666;
}
.homeNav .dhTc .zfNr a {
  margin: 0 18px;
}
/* @media screen and (max-width: 510px) {
  .homeNav {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #fafafa;
    height: auto;
    display: none;
  }
  .homeNav .sydh01 {
    float: none;
    width: auto;
    background: #fafafa;
    border-bottom: 1px solid #ececec;
  }
  .homeNav .sydh01 a {
    color: #666;
  }
  .homeNav .sydh01:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: ".";
  }
  .homeNav .sydh02 {
    float: none;
    width: auto;
    height: auto;
    padding-left: 0;
    background: none;
    border-bottom: 1px solid #ececec;
  }
  .homeNav .sydh02 a {
    color: #666;
  }
  .homeNav .sydh02:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: ".";
  }
  .homeNav li {
    float: left;
    _display: inline;
    width: 20%;
    min-width: 60px;
    padding: 0 0 0 10px;
    margin: 3px 0;
    display: inline-block;
    text-align: left;
    font: 13px/25px "Microsoft YaHei", "微软雅黑", Arial;
    color: #666;
    box-sizing: content-box;
  }
  .homeNav li.dq {
    background: none;
  }
  .homeNav li a:hover {
    text-decoration: none;
    color: #000;
  }
  .homeNav .sye {
    min-width: auto;
    margin-right: 0;
  }
  .homeNav .sydhgd {
    display: none;
  }
  .homeNav .dhTc {
    position: relative;
    width: auto;
    top: 0;
    display: block !important;
    background: none;
  }
  .homeNav .dhTc .sydh03 {
    float: none;
    width: auto;
    margin-left: 0;
    border-bottom: 1px solid #ececec;
  }
  .homeNav .dhTc .sydh03:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: ".";
  }
  .homeNav .dhTc .sydh04 {
    float: none;
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0px;
    padding-left: 0;
    background: none;
    border-bottom: 1px solid #ececec;
  }
  .homeNav .dhTc .sydh04:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: ".";
  }
  .homeNav .dhTc .sydh04 .sydhLiT01 {
    width: 40%;
  }
  .homeNav .dhTc h3,
  .homeNav .dhTc .zfNr {
    display: none;
  }
  .zk {
    display: block;
  }
} */
/* 头条新闻 */
.topNew {
  padding-top: 20px;
  margin-bottom: 20px;
}
.topNew .touTiao {
  overflow: hidden;
  height: 50px;
  margin-bottom: 3px;
  text-align: center;
  font: 44px/50px "Microsoft YaHei", "微软雅黑", Arial;
  color: #e1081f;
}
.topNew .touTiao a {
  padding-left: 65px;
  background: url("../images/home/touTiao.jpg") no-repeat left center;
  color: #e1081f;
}
.topNew .touTiao a:hover {
  text-decoration: none;
}
.topNew .touxiaoC {
  overflow: hidden;
  height: 30px;
  text-align: center;
}
.topNew .touxiaoC span {
  
  font: 15px/43px "Microsoft YaHei", "微软雅黑", Arial;
  color: #333;
  white-space: nowrap;
}
.topNew .touxiaoC span a {
  margin: 0 10px;
}
@media screen and (max-width: 510px) {
  .topNew .touTiao {
    padding: 0 15px 0 60px;
    text-align: left;
    font: 16px/25px "Microsoft YaHei", "微软雅黑", Arial;
    background: url("../images/home/touTiao.jpg") no-repeat 15px center;
    background-size: auto 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .topNew .touTiao a {
    padding-left: 0;
    background: none;
    color: #666;
  }
  .topNew .touxiaoC {
    height: auto;
    text-align: left;
    padding: 0 15px;
  }
  .topNew .touxiaoC span {
    margin: 0 0 8px 0;
    font: 15px/21px "Microsoft YaHei", "微软雅黑", Arial;
    display: block;
    white-space: normal;
  }
  .topNew .touxiaoC span a {
    margin: 0 3px;
  }
}
@media screen and (max-width: 510px) {
  .topNew {
    padding-top: 0;
  }
}
/* 幻灯 */
.huanDeng {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.huanDeng .hnBg {
  width: 100%;
}
.huanDeng .hdwk {
  overflow: hidden;
  position: absolute;
  width: 1000000%;
  top: 0;
  left: 0;
}
.huanDeng .hdwk .hdnk {
  float: right;
  _display: inline;
  position: relative;
}
.huanDeng .hdwk .hdnk img {
  width: 1000px;
  height: 360px;
}
.huanDeng .hdwk .hdnk h6 {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  font: 21px/40px "Microsoft YaHei", "微软雅黑", Arial;
  color: #fff;
  background: url("../images/ht70.png");
}
.huanDeng .hdwk .hdnk h6 span {
  padding-left: 15px;
}
.huanDeng .kzjt .jt0 {
  position: absolute;
  width: 50px;
  height: 20%;
  top: 40%;
  cursor: pointer;
  background-size: auto 100%;
}
@media screen and (max-width: 510px) {
  .huanDeng .kzjt {
    display: none;
  }
  .huanDeng .hdwk .hdnk img {
    width: 100%;
    height: auto;
  }
  .huanDeng .hdwk .hdnk h6 {
    height: 30px;
    font: 12px/30px "Microsoft YaHei", "微软雅黑", Arial;
  }
  .huanDeng .hdwk .hdnk h6 span {
    padding-left: 10px;
  }
}
.slideShow {
  background: #f5f5f5;
  margin-bottom: 20px;
}
.slideShow .kzjt .jt0 {
  position: absolute;
  width: 40px;
  height: 100px;
  top: 40%;
  cursor: pointer;
  background-size: auto 100%;
}
.slideShow .kzjt .jtL {
  left: 0;
  background: url("../images/zfc_lbt.png") no-repeat 0px 0px;
}
.slideShow .kzjt .jtL:hover {
  background: url("../images/zfc_lbt.png") no-repeat 0px -110px;
}
.slideShow .kzjt .jtR {
  right: 0;
  background: url("../images/zfc_lbt.png") no-repeat -50px -110px;
}
.slideShow .kzjt .jtR:hover {
  background: url("../images/zfc_lbt.png") no-repeat -50px 0px;
}
.slideShow .hdsq {
  position: absolute;
  bottom: 10px;
  right: 18px;
}
.slideShow .hdsq li {
  float: right;
  _display: inline;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background: #e60013;
  border-radius: 6px;
  opacity: 0.7;
}
.slideShow .hdsq li.dq {
  width: 36px;
  opacity: 1;
}
@media screen and (max-width: 510px) {
  .slideShow img {
    width: 100%;
  }
  .slideShow .hdsq li {
    float: left;
    _display: inline;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    border-radius: 3px;
  }
  .slideShow .hdsq li.dq {
    width: 18px;
  }
}
/* 首页幻灯 */
.slideShow .huanDeng {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slideShow .huanDeng .hnBg {
  width: 100%;
}
.slideShow .huanDeng .hdwk {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.slideShow .huanDeng .hdwk .hdnk {
  float: none;
  width: 100%;
  display: none;
}
.slideShow .huanDeng .hdwk .hdnk img {
  width: 100%;
  height: 360px;
}
.slideShow .huanDeng .hdwk .hdnk h6 {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  font: 21px/40px "Microsoft YaHei", "微软雅黑", Arial;
  color: #fff;
  background: url("../images/ht70.png");
}
.slideShow .huanDeng .hdwk .hdnk h6 span {
  padding-left: 15px;
}
.slideShow .huanDeng .hdwk .dq {
  display: block;
}
.slideShow .huanDeng .hdwk .zbL {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
}
.slideShow .huanDeng .hdwk .zbR {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
}
@media screen and (max-width: 510px) {
  .slideShow .huanDeng .kzjt {
    display: none;
  }
  .slideShow .huanDeng .hdwk .hdnk img {
    width: 100%;
    height: auto;
  }
  .slideShow .huanDeng .hdwk .hdnk h6 {
    height: 30px;
    font: 12px/30px "Microsoft YaHei", "微软雅黑", Arial;
  }
  .slideShow .huanDeng .hdwk .hdnk h6 span {
    padding-left: 10px;
  }
}
.clear{
	clear: both;
}
/* 首页幻灯 end */
/* 开奖公告 通知公告 */
.gongGao {
	padding-top: 20px;
}
.gongGao .kjGg {
  float: left;
  _display: inline;
}
.gongGao .kjGg h2 {
  height: 50px;
  text-align: left;
  padding-left:20px;
  font: 22px/50px "Microsoft YaHei", "微软雅黑", Arial;
  color: #333;
  background: #fff;
  border: 1px solid #dcdcdc;
}
.gongGao .kjGg .title {
  height: 50px;
  text-align: left;
  padding-left:20px;
  color: #333;
  background: #fff;
  border: 1px solid #dcdcdc;
  display: flex;
}

.gongGao .kjGg .title label {
  font: 22px/50px "Microsoft YaHei", "微软雅黑", Arial;
}

.dosometing{
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #333 !important;
  margin-top: 15px;
  border-radius: 2px;
  text-align: center;
  background: #dbdbdb;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 10px;
  font-weight: 600;
}

.seizeas{
  height: 20px;
  width: 100%;
  background: #f0f0f0;
  float: left;
}

.gongGao .kjGg .kjgg0 {
  overflow: hidden;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-top: none;
  box-sizing: content-box;
}
.gongGao .kjGg .kjggL {
  float: left;
  _display: inline;
  width: 380px;
}
.gongGao .kjGg .kjxx {
  padding: 17px 0 17px 0;
  font: 15px/21px "Microsoft YaHei", "微软雅黑", Arial;
  color: #333;
}
.gongGao .kjGg .kjxx em {
  margin-right: 10px;
  white-space: nowrap;
}
.gongGao .kjGg .kjxx .jChi {
  color: #e60013;
}
.gongGao .kjGg .kjh li {
  float: left;
  _display: inline;
  width: 33px;
  height: 33px;
  margin-right: 8px;
  font: 20px/33px "Microsoft YaHei", "微软雅黑", Arial;
  text-align: center;
  color: #fff;
  background: url("../images/qiuH.jpg") no-repeat;
}
.gongGao .kjGg .kjh li.lQiu {
  background: url("../images/qiuL.jpg");
}
.gongGao .kjGg .kjggR {
  float: right;
  _display: inline;
  width: 190px;
}
.gongGao .kjGg .kjsj {
  padding-top: 18px;
  margin-bottom: 24px;
  font: 15px/21px "Microsoft YaHei", "微软雅黑", Arial;
  color: #515151;
}
.gongGao .kjGg .xgzl li {
  float: left;
  _display: inline;
  margin-right: 6px;
  color: #999;
}
.gongGao .kjGg .xgzl li a {
  padding-left: 23px;
  display: block;
  color: #999;
}
@media screen and (max-width: 510px) {
  .gongGao .kjGg h2 {
    height: 30px;
    font: 15px/30px "Microsoft YaHei", "微软雅黑", Arial;
  }
  .gongGao .kjGg .kjgg0 {
    height: auto;
    padding-left: 15px;
    background: none;
  }
  .gongGao .kjGg .kjggL {
    width: 100%;
  }
  .gongGao .kjGg .kjxx {
    padding: 10px 0 10px 0;
  }
  .gongGao .kjGg .kjxx em {
    display: inline-block;
  }
  .gongGao .kjGg .kjh li {
    width: 25px;
    height: 25px;
    font: 15px/25px "Microsoft YaHei", "微软雅黑", Arial;
    background: url("../images/qiuHs.jpg") no-repeat;
  }
  .gongGao .kjGg .kjh li.lQiu {
    background: url("../images/qiuLs.jpg");
  }
  .gongGao .kjGg .kjggR {
    float: left;
    _display: inline;
    width: 100%;
    padding: 10px 0 3px;
  }
  .gongGao .kjGg .kjsj {
    float: left;
    _display: inline;
    padding-top: 0;
    margin-bottom: 8px;
    margin-right: 15px;
  }
  .gongGao .kjGg .xgzl {
    float: left;
    _display: inline;
    height: 28px;
  }
}
.gongGao .tzGg {
  float: right;
  _display: inline;
}
.gongGao .tzGg h2 {
  height: 50px;
  overflow: hidden;
  text-align: center;
  font: 22px/999px "Microsoft YaHei", "微软雅黑", Arial;
  background: url("../images/home/tjGg.png") no-repeat center center #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gongGao .tzGg .tzggNr {
  height: 310px;
  border: 1px solid #dcdcdc;
  box-sizing: content-box;
}
.gongGao .tzGg .tzggNr ul {
  overflow: hidden;
  height: 275px;
  padding: 15px 15px 0;
}
.gongGao .tzGg .tzggNr ul li {
  font: 15px/25px "Microsoft YaHei", "微软雅黑", Arial;
  color: #515151;
}
@media screen and (max-width: 510px) {
  .gongGao .tzGg h2 {
    height: 30px;
    font: 15px/30px "Microsoft YaHei", "微软雅黑", Arial;
    background: #fafafa;
  }
  .gongGao .tzGg .tzggNr {
    height: auto;
    padding-bottom: 15px;
  }
  .gongGao .tzGg .tzggNr ul {
    height: auto;
  }
}
/* 新闻块12 和 热点视频 */
.sq0 .sqQ {
  overflow: hidden;
  width: 100%;
  height: 41px;
  background: #f5f5f5;
}
.sq0 .sqQ li {
  float: left;
  _display: inline;
  width: 163px;
  text-align: center;
  font: 15px/38px "Microsoft YaHei", "微软雅黑", Arial;
  border: 1px solid #f5f5f5;
  border-top-width: 2px;
  border-bottom-color: #e3e4e9;
  box-sizing: content-box;
  cursor: pointer;
}
.sq0 .sqQ li a:hover {
  text-decoration: none;
}
.sq0 .sqQ li em {
  display: none;
}
.sq0 .sqQ li.dq {
  font-size: 18px;
  color: #e60013;
  background: #fff;
  border-top-color: #e60013;
  border-bottom-color: #fff;
  border-left-color: #e3e4e9;
  border-right-color: #e3e4e9;
}
.sq0 .sqN {
  height: 215px;
  margin-bottom: 30px;
  border: 1px solid #e3e4e9;
  border-top: none;
}
.sq0 .sqN .sqNr {
  display: none;
}
.sq0 .sqN .dq {
  display: block;
}
@media screen and (max-width: 510px) {
  .sq0 .sqQ li {
    width: 25%;
    box-sizing: border-box;
    font-size: 14px;
  }
  .sq0 .sqQ li a {
    display: none;
  }
  .sq0 .sqQ li em {
    display: inline;
  }
  .sq0 .sqQ li.dq {
    font-size: 16px;
  }
  .sq0 .sqN {
    height: auto;
    padding-bottom: 15px;
  }
}
.sqA .sqQ {
  float: right;
  _display: inline;
  position: relative;
  z-index: 10;
  width: 172px;
  margin-top: -45px;
}
.sqA .sqQ li {
  float: left;
  _display: inline;
  margin-left: -2px;
  font: 16px/25px "Microsoft YaHei", "微软雅黑", Arial;
  color: #fff;
  cursor: pointer;
}
.sqA .sqQ li a {
  color: #fff;
}
.sqA .sqQ li em {
  display: none;
}
.sqA .sqN {
  margin-bottom: 2px;
}
.sqA .sqN .sqNr {
  display: none;
}
.sqA .sqN .dq {
  display: block;
}
@media screen and (max-width: 510px) {
  .sqA .sqQ {
    margin-right: 5px;
        width: 155px;
  }
  	.sqA .sqQ li{
  		font-size: 13px;
  	}
  .sqA .sqQ li a {
    display: none;
  }
  .sqA .sqQ li em {
    display: inherit;
  }
  .sqA .sqN {
    padding-bottom: 15px;
  }
}
.Tbg01,
.Tbg02,
.Tbg03 {
  float: left;
  _display: inline;
  height: 25px;
  background-image: url("../images/home/sqTbg.png");
  background-position-y: center;
  background-repeat: no-repeat;
}
.Tbg01 {
  width: 12px;
  background-position-x: left;
}
.Tbg02 {
  background-position-x: center;
}
.Tbg03 {
  width: 12px;
  background-position-x: right;
}
.dq .Tbg01,
.dq .Tbg02,
.dq .Tbg03 {
  background-image: url("../images/home/sqTbgDq.png");
}
.xwArs .sq01 .sqN ul,
.xwArs .sq02 .sqN ul {
  padding: 18px 30px 0 25px;
}
.xwArs .sq01 .sqN ul li,
.xwArs .sq02 .sqN ul li {
  position: relative;
  font: 15px/30px "Microsoft YaHei", "微软雅黑", Arial;
  color: #515151;
}
.xwArs .sq01 .sqN ul li span,
.xwArs .sq02 .sqN ul li span {
  position: absolute;
  top: 0;
  right: 0;
  font: 12px/30px "Microsoft YaHei", "微软雅黑", Arial;
  color: #999;
}
.xwArs .sq02 .sqN {
  margin-bottom: 20px;
}
@media screen and (max-width: 510px) {
  .xwArs .sq01 .sqN ul,
  .xwArs .sq02 .sqN ul {
    padding: 18px 15px 0 15px;
  }
  .xwArs .sq01 .sqN ul li,
  .xwArs .sq02 .sqN ul li {
    display: -moz-box;
    display: -webkit-box;
    display: box;
  }
  .xwArs .sq01 .sqN ul li a,
  .xwArs .sq02 .sqN ul li a {
    overflow: hidden;
    height: 30px;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: block;
  }
  .xwArs .sq01 .sqN ul li span,
  .xwArs .sq02 .sqN ul li span {
    width: 70px;
    position: static;
    /*-moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1;*/
    display: block;
  }
}
.rdsp h2 {
  overflow: hidden;
  position: relative;
  z-index: 5;
  height: 45px;
  margin-bottom: 17px;
  line-height: 999px;
  background: url("../images/home/rdsp.jpg") no-repeat left 5px;
}
.rdsp .imgAt {
  margin-bottom: 20px;
}
.rdsp .imgAt img {
  float: left;
  _display: inline;
  width: 120px;
  height: 90px;
  margin-right: 15px;
}
.rdsp .imgAt h6 {
  overflow: hidden;
  height: 75px;
  margin-top: 8px;
  font: 15px/25px "Microsoft YaHei", "微软雅黑", Arial;
  color: #333;
}
@media screen and (max-width: 510px) {
  .rdsp h2 {
    margin-left: 15px;
  }
  .rdsp .imgAt {
    padding: 0 15px;
  }
}
.fcrx {
  width: 100%;
  margin-bottom: 20px;
}
.fcrx img {
  width: 100%;
}
/* 通栏广告 */
.banner01 {
  margin-bottom: 20px;
}
.banner01 .tlgg0 {
  float: left;
  _display: inline;
  margin-left: 20px;
  width: 235px;
  height: 100px;
}
.banner01 .tlgg0 img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 510px) {
  .banner01 .tlgg0 {
    clear: both;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}
/* 新闻块34 和 福彩对话 */
.sq03 .sqN,
.sq04 .sqN {
  height: 298px;
}
@media screen and (max-width: 510px) {
  .sq03 .sqN,
  .sq04 .sqN {
    height: auto;
  }
}
.xwAfd .imgAtAs {
  float: left;
  _display: inline;
  width: 300px;
  margin: 20px 0 0 15px;
}
.xwAfd .imgAtAs img {
  width: 300px;
  height: 160px;
  margin-bottom: 18px;
}
.xwAfd .imgAtAs h6 {
  overflow: hidden;
  height: 18px;
  margin-bottom: 10px;
  text-align: center;
  font: 16px/18px "Microsoft YaHei", "微软雅黑", Arial;
  color: #515151;
}
.xwAfd .imgAtAs p {
  font: 14px/21px "Microsoft YaHei", "微软雅黑", Arial;
  color: #999;
}
.xwAfd .imgAtAs a:hover {
  text-decoration: none;
}
.xwAfd .imgAtAs2 img {
  height: 220px;
}
.xwAfd .sqNr ul {
  float: right;
  _display: inline;
  width: 310px;
  margin-right: 15px;
  margin-top: 20px;
  font: 15px/30px "Microsoft YaHei", "微软雅黑", Arial;
  color: #515151;
}
.xwAfd .sqNr ul li {
  overflow: hidden;
  height: 30px;
}
.xwAfd .sqNr ul .mt12 {
  margin-bottom: 12px;
}
.xwAfd .fcdh h2 {
  overflow: hidden;
  position: relative;
  height: 45px;
  margin-bottom: 15px;
  line-height: 999px;
  background: url("../images/home/fcdh.jpg") no-repeat left 5px;
}
.xwAfd .fcdh .zjjs {
  overflow: hidden;
  height: 190px;
  background: url("../images/home/zjjs.jpg") no-repeat left 75px;
}
.xwAfd .fcdh .zjjs img {
  float: left;
  _display: inline;
  width: 100px;
  height: 100px;
  margin: 0 0 15px 10px;
  border: 4px solid #fff;
  border-radius: 50%;
}
.xwAfd .fcdh .zjjs .zjjsT {
  float: right;
  _display: inline;
  width: 170px;
}
.xwAfd .fcdh .zjjs h5 {
  overflow: hidden;
  height: 42px;
  margin-top: 15px;
  margin-bottom: 27px;
  font: 15px/21px "Microsoft YaHei", "微软雅黑", Arial;
  color: #666;
}
.xwAfd .fcdh .zjjs h6 {
  float: right;
  _display: inline;
  font: 25px/27px "Microsoft YaHei", "微软雅黑", Arial;
  color: #333;
}
.xwAfd .fcdh .zjjs .zjjsjj {
  clear: both;
  margin: 0 10px;
  text-align: justify;
  font: 14px/21px "Microsoft YaHei", "微软雅黑", Arial;
  color: #999;
}
.xwAfd .fcdh .ftne {
  position: relative;
  height: 255px;
  overflow: hidden;
}
.xwAfd .fcdh .ftne .gdtN {
  position: absolute;
  top: 0;
}
.xwAfd .fcdh .ftne dl {
  padding-left: 37px;
  font: 14px/21px "Microsoft YaHei", "微软雅黑", Arial;
  background: url("../images/home/fangtan.jpg") no-repeat 8px top;
}
.xwAfd .fcdh .ftne dl strong {
  float: left;
  _display: inline;
  font-weight: normal;
  color: #e60013;
}
.xwAfd .fcdh .ftne dt {
  font: 14px/21px "Microsoft YaHei", "微软雅黑", Arial;
  margin-bottom: 8px;
  color: #515151;
}
.xwAfd .fcdh .ftne dd {
  font: 14px/21px "Microsoft YaHei", "微软雅黑", Arial;
  margin-bottom: 15px;
  color: #999;
}
@media screen and (max-width: 510px) {
  .xwAfd .imgAtAs {
    clear: both;
    width: 100%;
    margin: 15px 0 15px;
  }
  .xwAfd .imgAtAs img {
    width: 100%;
    height: auto;
  }
  .xwAfd .imgAtAs p {
    padding: 0 15px;
  }
  .xwAfd .sqNr ul {
    float: none;
    width: auto;
    margin: 15px 15px 0;
  }
  .xwAfd .fcdh {
    display: none;
  }
}
.xwAfd .zttj {
  /* 320 * 150 */
}
.xwAfd .zttj h2 {
  height: 46px;
  padding-left: 20px;
  margin-bottom: 6px;
  font: 20px/46px "Microsoft YaHei", "微软雅黑", Arial;
  background: url("../images/home/zttj.jpg") no-repeat left bottom;
}
.xwAfd .zttj .zttjNr {
  width: 100%;
  /*height: 150px;*/
}
.xwAfd .zttj .zttjNr .huanDeng {
  width: 100%;
  height: 100%;
}
.xwAfd .zttj .zttjNr .huanDeng img {
  width: 100%;
  height: 150px;
}
.xwAfd .zttj .zttjNr .kzjt .jt0 {
  position: absolute;
  width: 40px;
  height: 100px;
  top: 15%;
  cursor: pointer;
  background-size: auto 100%;
}
.xwAfd .zttj .zttjNr .kzjt .jtL {
  left: 0;
  background: url("../images/zfc_lbt.png") no-repeat 0px -240px;
}
.xwAfd .zttj .zttjNr .kzjt .jtL:hover {
  background: url("../images/zfc_lbt.png") no-repeat 0px -350px;
}
.xwAfd .zttj .zttjNr .kzjt .jtR {
  right: 0;
  background: url("../images/zfc_lbt.png") no-repeat -50px -350px;
}
.xwAfd .zttj .zttjNr .kzjt .jtR:hover {
  background: url("../images/zfc_lbt.png") no-repeat -50px -240px;
}
.xwAfd .zttj .zttjNr .hdsq {
  position: absolute;
  top: -25px;
  right: 10px;
}
.xwAfd .zttj .zttjNr .hdsq li {
  float: left;
  _display: inline;
  width: 7px;
  height: 7px;
  margin-right: 5px;
  background: #666;
  border-radius: 3px;
}
.xwAfd .zttj .zttjNr .hdsq li.dq {
  width: 30px;
  background: #e60013;
}
@media screen and (max-width: 510px) {
  .xwAfd .zttj .zttjNr .huanDeng img {
    height: auto;
  }
}
/* 扫码下载 */
.saoMa {
  padding: 15px 0 35px 10px;
}
.saoMa .smxz {
  float: left;
  _display: inline;
  margin-right: 30px;
}
.saoMa .smxz img {
  float: left;
  _display: inline;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.saoMa .smxz p {
  float: left;
  _display: inline;
  margin-top: 10px;
  font: 15px/25px "Microsoft YaHei", "微软雅黑", Arial;
  color: #666;
}
.saoMa .smxz p em {
  display: block;
}
@media screen and (max-width: 510px) {
  .saoMa {
    padding: 15px 0 35px 0;
    display: none;
  }
  .saoMa .smxz {
    width: 33%;
    margin: 0;
  }
  .saoMa .smxz img {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .saoMa .smxz p {
    float: none;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 415px) {
  .saoMa .smxz {
    width: 50%;
  }
}
.ui-loader-default {
  display: none;
}
.ui-mobile-viewport {
  border: none;
}
.ui-page {
  padding: 0;
  margin: 0;
  outline: 0;
}

.sq03 .sqQ > li[data-xl="1"]{
	display:none;
}

.content{
  min-height: calc(100vh - 140px);
	background: #f0f0f0;
}

.lottery th{
  text-align: center !important;
}

.lottery td{
  text-align: center !important;
}

.b_ball{
  background: #5a5aff;
  line-height: 33px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  text-align: center;
}
.r_ball{
  background: #f34242;
  line-height: 33px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  text-align: center;
}
.g_ball{
  background: #0eac00;
  line-height: 33px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  text-align: center;
}

.layui-table td, .layui-table th {
  position: relative;
  padding: 5px !important;
  min-height: 20px;
  line-height: 20px;
  font-size: 16px !important;
  color: #000;
}

.caizhonglist_first li{
  float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    color: #333;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}
.caizhonglist_first li:hover{
  border: 1px solid red;
  color: red;
}
.caizhonglist_first li.checked{
  border: 1px solid red;
  color: red;
}